project:
  type: website
  output-dir: docs

website:
  favicon: bg_logo.png
  open-graph: true
  twitter-card: true
  title: "BioGenies"
  reader-mode: true
  page-footer: "&copy; 2025 Website developed by BioGenies team.<br><a href='/subsite/GDPR.html'>Privacy Policy</a>"
  cookie-consent:
    type: implied
    style: simple
  google-analytics:
    tracking-id: "G-JHTF9WDBJG"
    storage: "cookies"
    policy-url: subsite/GDPR.qmd
  navbar:
    background: primary
    search: true
    pinned: true
    hoverable: true
    left:
      - text: "Home"
        href: index.qmd
      - text: "Team"
        menu: 
          - subsite/team.qmd
          - subsite/colab.qmd
          - subsite/guest.qmd
          - subsite/alumni.qmd
          - subsite/about.qmd
          # - subsite/hobby.qmd
          # - subsite/fun.qmd
      - text: "Our topics" 
        menu: 
          - subsite/topics/amyloids.qmd
          - subsite/topics/llps.qmd
          - subsite/topics/amp.qmd
          - subsite/topics/mvi.qmd
          - subsite/topics/hdxms.qmd
      - text: "Our projects" 
        menu: 
          - subsite/projects/OneTick.qmd
          - subsite/projects/AMI-cryoEM.qmd
          - subsite/projects/AmyloGraph2.qmd
          - subsite/projects/LIMAD.qmd
          - subsite/projects/imputomics2.qmd
          - text: "FIBREA"
            href: fibrea.qmd
          # - subsite/projects/FIBREA.qmd
      - href: subsite/tools.qmd
      - href: subsite/seminars.qmd
      # - text: "Achievements"
      #   menu: 
      - href: subsite/publications.qmd
      - href: subsite/conferences.qmd
      - href: subsite/theses.qmd
    tools:
      - icon: linkedin
        href: https://www.linkedin.com/company/102939559/
      - icon: twitter-x
        href: https://twitter.com/burdukiewicz
      - icon: github
        href: https://github.com/BioGenies
  sidebar:
    logo: bg_logo.png
    style: "floating"
    search: false
    center-tools: true
    tool-size: large
format:
  html:
    css: ['navbar_hover.css', 'sidebar_mods.css', 'styles.css']
    page-layout: full
    theme:
      light: [united, quarto_palette.scss]
      dark: darkly
    toc: true
    toc-location: right
    toc-title: " "
    grid:
      sidebar-width: 350px
      body-width: 1200px
      margin-width: 150px
      gutter-width: 1.5rem
    # logo: fig/bg_logo.png
execute:
  freeze: false